<div class="ui container grid">
    <div class="computer tablet only row">
        <div class="ui menu navbar">
            <a href="/" class="brand item">Peter & Luisa</a>
            <a href="/planning" class="item">Planning</a>
            <a href="/registry" class="item">Registry</a>
            <a href="/photos" class="item">Photos</a>
            <a href="/rsvp" class="item">RSVP</a>
        </div>
    </div>
    <div class="mobile only narrow row">
        <div class="ui navbar menu">
            <a href="/" class="brand item">Peter & Luisa</a>
            <div class="right menu open">
                <a href="" class="menu item">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="ui vertical navbar menu">
            <a href="/planning" class="item">Planning</a>
            <a href="/registry" class="item">Registry</a>
            <a href="/photos" class="item">Photos</a>
            <a href="/rsvp" class="item">RSVP</a>
        </div>
    </div>
</div>