<% include partials/header %>
<% include partials/nav %>

<div class="ui container segment">
    <div class="fotorama">
      <img class="ui fluid image" src="/img/slides/park1.jpg">
      <img class="ui fluid image" src="/img/slides/park2.jpg">
      <img class="ui fluid image" src="/img/slides/park14.jpg">
      <img class="ui fluid image" src="/img/slides/park5.jpg">
      <img class="ui fluid image" src="/img/slides/park6.jpg">
      <img class="ui fluid image" src="/img/slides/park7.jpg">
      <img class="ui fluid image" src="/img/slides/park8.jpg">
      <img class="ui fluid image" src="/img/slides/park9.jpg">
      <img class="ui fluid image" src="/img/slides/park10.jpg">
      <img class="ui fluid image" src="/img/slides/park11.jpg">
      <img class="ui fluid image" src="/img/slides/park12.jpg">
      <img class="ui fluid image" src="/img/slides/park13.jpg">
      <img class="ui fluid image" src="/img/slides/park15.jpg">
      <img class="ui fluid image" src="/img/slides/park16.jpg">
    </div>
</div>


<% include partials/footer %>