<% include partials/header %>
<% include partials/nav %>

<div class="ui raised very padded text container segment">
    <img class="ui fluid image" src="/img/church.jpg">
    <h2 class="ui header">Wedding Day Schedule</h2>
    <div class="ui bulleted list">
        <div class="item">4:00 pm – Catholic Ceremony at Parroquia Nuestra Señora de Los Ángeles</div>
        <div class="ui section divider"></div>
        <div class="item">6:00 pm – Reception at the rooftop of the Zen Hotel in Panama City</div>
    </div>
</div>

<div class="ui raised very padded text container segment">
    <h2 class="ui header">Dress Advice</h2>
    <p>We want you to feel comfortable with the tropical weather in Panama! Of course, you are welcome to wear what ever you like but we 
     think wearing something lightweight that you can wear outdoors is perfectly fine.</p>
    <div class="ui bulleted list">
        <div class="item">For ladies, we recommend a light, cocktail or long dress that you would wear to a rooftop party.</div>
        <div class="item">For gentlemen, we recommend wearing the typical attire for Caribbean weddings: a guayabera (long or short sleeved) with slacks of your choice. 
        Below, you can see some examples of what a guayabera shirt could look like. They are made with either linen or cotton/polyester and typically have four pockets on the front.</div>
    </div>
    <img class='ui fluid image' src="/img/longSleeve.png">
    <img class='ui fluid image' src="/img/shortSleeve.png">
</div>

<div class="ui raised very padded text container segment">
    <h2 class="ui header">Plane Ticket Choices</h2>
    <h4 class="ui header">XNA-PTY</h4>
    <p>This could be the easiest choice, but not necessarily the cheapest. XNA is a smaller airport, which makes plane tickets a bit more expensive. 
    However, if you decide to go this route, try to track American Airlines (usually the cheapest option from XNA) about a month before the day you 
    plan to leave as this is usually the time ticket prices drop down.</p>
    <h4 class="ui header">DFW-PTY</h4>
    <p>This is our recommended choice. Usually connections from XNA include DFW, so flying out from DFW could cut your ticket price dramatically. 
    This strategy could also work with any other major airport you are closest to. At DFW, in particular, there is an airline that has been awesome to us called Spirit Airlines. 
    It’s a low-cost airline, with extremely reliable planes and service. You don’t get to bring 
    tons of luggage with them, because they charge bags separately and at a very high price. If you can get by with minimal luggage, this might be the best option for 
    you. <a target="_blank" href="https://www.spirit.com/Default.aspx">You can check them out here!</a></p>
    <div class="ui section divider"></div>
    <p>Which ever option you decide, we strongly recommend you use two flight searching tools to look for the best deals on tickets:</p>
    <div class="ui bulleted list">
        <a class="item" target="_blank" href="https://www.skyscanner.com/">Skyscanner</a>
        <a class="item" target="_blank" href="https://www.google.com/flights/">Google Flights</a>
    </div>
</div>

<div class="ui raised very padded text container segment">
    <h2 class="ui header">Places to Stay</h2>
    <p>We have arranged with the Zen Hotel Panama a special price for our guests at $65.00 plus taxes per night for a bedroom with either a queen size bed, or king. 
    This price is valid for your entire stay, and it includes breakfast for two people and a flexible fare, meaning that you don’t have to pay until you get here. 
    If you decide to go this route, you just need to <a href="mailto:peterluisawedding@gmail.com?subject=Hotel Reservation">send us an email</a> with your name, the dates you will stay and your method of payment. 
    If you plan to share a room with others, only one of you needs to send us their information for us to reserve the room for you!</p>
    <div class="ui fluid image">
        <img src="/img/zenHotelBedroom.jpg"></img>
    </div>
    <div class="ui section divider"></div>
    <p>If you want to explore a different option, <a target="_blank" href="https://www.airbnb.com/">Airbnb</a> is always a great choice to go for in Panama City! 
    The wedding will take place at a zone in the city called “EL CANGREJO” or “VIA ARGENTINA”, so any Airbnb that you can find in this area will be a great choice. 
    Also, it’s a very centric area close to many restaurants, bars and places to hang out, so we strongly recommend it!</p>
</div>

<div class="ui raised very padded text container segment">
    <h2 class="ui header">Transportation</h2>
    <p><a target="_blank" href="https://get.uber.com/">Uber</a> and <a target="_blank" href="https://cabify.com/en">Cabify</a> are by far the best options to get around in the city, 
    including going from/to the airport. A ride from the airport can go from $12 to $30 regardless of the number of people in the ride. 
    A ride in the city can go from $2 to $9 depending on the distance and the time of the day. Download both apps while you still have phone service, 
    because they may send you a text to your phone for verification purposes. Check the rates of both apps any time you want to get a ride. 
    If you decide to rent a car for the day, the Zen Hotel Panama includes free parking for their guests!</p>
</div>

<div class="ui raised very padded text container segment">
    <h2 class="ui header">Things to Do</h2>
    <p>We would love for you to experience the best of Panama City during your stay. We plan to go with everybody to several of these places. 
    However, if you feel like exploring in your down time, here are some of the places you should definitely check out:</p>
    
    <div class="ui fluid image">
      <div class="ui black ribbon label">
        El Canal de Panama
      </div>
      <img src="/img/panamaCanal.jpg">
    </div>
    <p class="caption">One of the seven wonders of the industrial world, and you get to see the new expansion!</p>
    <div class="ui section divider"></div>
    
    <div class="ui fluid image">
      <div class="ui blue ribbon label">
        Cause Way
      </div>
      <img src="/img/causeway.jpg">
    </div>
    <p class="caption">This is a road that connects three big islands to the city. It’s a great place to get beautiful sights of the city, and the ocean. 
    Here you can rent bikes or roller-skates, get ice cream or have lunch and go explore!</p>
    <div class="ui section divider"></div>
    
    <div class="ui fluid image">
      <div class="ui purple ribbon label">
        Casco Viejo
      </div>
      <img src="/img/cascoViejo.jpg">
    </div>
    <p class="caption">Better known as Casco, it is the old part of Panama City. Here you will find beautiful sights of the city, colonial architecture, and great places to eat and hang out!</p>
    <h3 class="ui header">Don't forget to...</h3>
    <div class="ui bulleted list">
        <div class="item">Get a popsicle from "La Michoacana".</div>
    </div>
    <h3 class="ui header">Lunch Food</h3>
    <div class="ui bulleted list">
        <div class="item">Barrio Pizza</div>
        <div class="item">Nacionsushi</div>
        <div class="item">Tacos La Neta</div>
        <div class="item">Diablicos - typical Panamanian food!</div>
    </div>
    <h3 class="ui header">At Night</h3>
    <div class="ui bulleted list">
        <div class="item">Tantalo</div>
        <div class="item">Pedro Mandinga</div>
        <div class="item">Casa Jaguar</div>
        <div class="item">Finca del Mar</div>
        <div class="item">360 Rooftop Bar</div>
    </div>
    <div class="ui section divider"></div>
    
    <div class="ui fluid image">
      <div class="ui red ribbon label">
        Cinta Costera
      </div>
      <img src="/img/cintaCostera.jpg">
    </div>
    <p class="caption">Great place to experience the vibrant skyscrapers of the city while exercising. You will love going for a run here!</p>
    <div class="ui section divider"></div>
    
    <div class="ui fluid image">
      <div class="ui yellow ribbon label">
        Around Zen Hotel Panama
      </div>
      <img src="/img/zenHotel.JPG">
    </div>
    <h4 class="ui header">Taberna La Malagueña</h4>
    <p>A small bar with incredible atmosphere, excellent and cheap craft beer and tapas (appetizers) – <i class="fa fa-clock-o" aria-hidden="true"></i> 4 min walk</p>
    <h4 class="ui header">La Rana Dorada</h4>
    <p>Great craft beer! – <i class="fa fa-clock-o" aria-hidden="true"></i> 5 min walk</p>
    <h4 class="ui header">Mentiritas Blancas</h4>
    <p>A small coffee shop with Peter’s favorite cookies and great coffee! – <i class="fa fa-clock-o" aria-hidden="true"></i> 1 min walk</p>
    <h4 class="ui header">Panaderia Los Venezolanos</h4>
    <p>Excellent venezuelan empanadas and arepas! – <i class="fa fa-clock-o" aria-hidden="true"></i> 3 minute walk</p>
</div>



<% include partials/footer %>