<% include partials/header %>
<% include partials/nav %>
<div class="ui raised very padded text container segment">
    <h2 class="ui header">Our Registry</h2>
    <p></p>
    <p></p>
    <div class="ui items">
      <div class="item">
        <div class="image">
          <img src="/img/cascoViejo.jpg">
        </div>
        <div class="content">
          <a class="header">Header</a>
          <div class="meta">
            <span>Description</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            Additional Details
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="/img/cascoViejo.jpg">
        </div>
        <div class="content">
          <a class="header">Header</a>
          <div class="meta">
            <span>Description</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            Additional Details
          </div>
        </div>
      </div>
    </div>
    <button class="ui fluid green button">
      <i class="fa fa-gift" aria-hidden="true"></i>
      <a id="give" target="_blank" href="https://www.paypal.me/LuisaAndPeter"> Give </a>
    </button>
</div>
 
<% include partials/footer %>