<% include partials/header %>
<% include partials/nav %>
<div class="ui raised very padded text container segment">
    <img class="ui fluid image" src="/img/slides/park10.jpg">
    <h2 class="ui header">Our Registry</h2>
    <p>
    Being with us on our wedding day is enough of a gift for us, but 
    if you would like to help us out, you can contribute to our family fund in the link below! 😊</p>
    
    <a id="give" class="ui fluid green button" target="_blank" href="https://www.paypal.me/LuisaAndPeter"><i class="fa fa-gift" aria-hidden="true"></i> Give </a>
</div>
 
<% include partials/footer %>