#staticBackground,
#staticSky{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 110%;
    height: 110%;
    background-size: cover;
    filter: brightness(0.4);
}

#staticSky{
    transform: translate(-50%, -80%);
    background-image: url("/img/SunSetSky.svg");
    background-position-y: center;
    z-index: -99;
}

#staticBackground{
    transform: translate(-50%, -35%);
    background-image: url("/img/PTYSkyline.svg");
    z-index: -90;
}

.caption{
    margin-top: 10px;
}

#give{
    text-decoration: none;
    color: white;
}

#give:hover{
    color: white;
}

#rsvpFormWrapper{
    margin: 30px auto;
    z-index: 999;
    background-color: white;
    border-radius: .28571429rem;
    padding: 20px;
    border: 1px solid grey;
    border: 1px solid rgba(34,36,38,.15);
}

#text{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
    text-align: center;
    z-index: 20;
    opacity: 0;
}

h2{
    font-family: 'Berkshire Swash', cursive !important;
}

/*Iphone 6, 6s, 7, 8 - 375x667*/
@media only screen and (min-width: 569px) and (orientation: landscape) {
    
}

/*iphone 6+, 6s+, 7+, 8+ - 414x736*/ 
@media only screen and (min-width: 668px) and (orientation: landscape) {

}

/*1920X1080*/
@media only screen and (min-width: 1500px) and (orientation: landscape) {
    #text{
        font-size: 5rem;
    }
}