/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body, html {
    background-color: #00D4FF;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: -11;
}
    
svg {
    display: block;
}
    
div {
    padding: 0;
    margin: 0;
}

@keyframes float {
    from{}
    to{
        transform: translateY(20px);
    }
}
    
.cloudFloat1 {
    animation-name: float;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
.cloudFloat2 {
    animation-name: float;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
.cloudFloat3 {
    animation-name: float;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
.cloudFloat4 {
    animation-name: float;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
#introHook {
    width: 50px;
    height: 20px;
    position: absolute;
    top: 0;
}
    
#sunshine {
    position: fixed;
    text-align: center;
    z-index: 0;
    width: 30vw;
    height: auto;
    top: 15%;
    right: 15%;
}
    
#PLinBalloon {
    position: fixed;
    left: 50vw;
    top: 10vh;
    transform: translateX(-50%);
    width: 120vw;
    height: auto;
    z-index: 5;
    opacity: 0;
}
    
#scrollDown {
    position: fixed;
    right: 8vw;
    top: 36%;
    font-size: 8vw;
    color: white;
    font-family: 'Berkshire Swash', cursive;
    z-index: 1;
    animation-name: float;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0;
}
    
#text {
    position: fixed;
    left: 35%;
    top: 58%;
    font-size: 3vw;
    width: 40%;
    height: 50%;
    line-height: 4vw;
    color: white;
    font-family: 'Berkshire Swash', cursive;
    z-index: 20;
    opacity: 0;
}
    
#MainCloud1 {
    position: absolute;
    top: 57%;
    right: 8vw;
    width: 45vw;
    height: auto;
    z-index: 2;
}
    
#MainCloud2 {
    position: absolute;
    top: 70%;
    right: 15vw;
    width: 12vw;
    height: auto;
    z-index: 4;
}
    
#BackLeftCloud1 {
    position: absolute;
    top: -20%;
    left: -10%;
    width: 45vw;
    height: auto;
    z-index: 0;
}
    
#BackLeftCloud2 {
    position: absolute;
    top: 80%;
    left: -10vw;
    width: 30vw;
    height: auto;
    z-index: 6;
}
    
#Cloud1 {
    position: absolute;
    top: 180%;
    right: -2vw;
    width: 30vw;
    height: auto;
    z-index: 2;
    animation-name: float;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
#Cloud2 {
    position:absolute;
    top: 330%;
    left: -10vw;
    width: 47vw;
    height: auto;
    z-index: 2;
}
    
#Plane {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: -50vw;
    width: 50vw;
    height: auto;
    opacity: 1;
}
    
#Cloud3 {
    position: absolute;
    top: 375%;
    left: 40vw;
    width: 25vw;
    height: auto;
    z-index: 0;
    animation-name: float;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
#Cloud4 {
    position: absolute;
    top: 430%;
    right: -10vw;
    width: 35vw;
    height: auto;
    z-index: 0;
    animation-name: float;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
#SunSetSky {
    position: absolute;
    top: 700%;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
    margin: 0;
    padding: 0;
}
    
#PTYSkyline {
    position: absolute;
    top: 1000%;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 2;
    margin: 0;
    padding: 0;
}
    
#islandGround {
    position: absolute;
    top: 1063%;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 3;
    margin: 0;
    padding: 0;
}
    
#palmTree {
    position: absolute;
    top: 992%;
    right: -5vw;
    width: 30vw;
    height: auto;
    z-index: 5;
    margin: 0;
    padding: 0;
}
    
#rsvpSign {
    position: absolute;
    top: 1057%;
    left: 50vw;
    transform: translateX(-50%);
    width: 15vw;
    height: auto;
    z-index: 25;
    cursor: pointer;
}

#planningBtn,
#registryBtn,
#photosBtn {
    position: absolute;
    top: 960%;
    right: 18vw;
    z-index: 990;
    opacity: 0;
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
    
#planningBtn:hover,
#registryBtn:hover,
#photosBtn:hover {
    border-bottom: 1px solid white;
}

/*#planningBtn{*/
/*    transform: translateY(-20px);*/
/*}*/
    
/*#registryBtn{*/
/*    transform: translateY(20px);*/
/*}*/

/*#photosBtn{*/
/*    transform: translateY(60px);*/
/*}*/
    
.rsvp {
    text-indent: 1em;
}
    
#rotateMsg,
#device,
#check {
    opacity: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (orientation: portrait) {
    #rotate{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: #00D4FF;
        z-index: 9999;
    }
    
    #rotateMsg{
        width: 100%;
        padding: 10px;
        text-align: center;
        position: fixed;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        line-height: 35px;
        font-family: 'Berkshire Swash', cursive;
        opacity: 0;
    }
    
    #device{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 20%;
        height: 20%;
    }
    
    #check{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        color: white;
        font-size: 25px;
    }
    
    #cloud1{
        display: none;
    }
}

/*Iphone 6, 6s, 7, 8 - 375x667*/
@media only screen and (min-width: 569px) and (orientation: landscape) {

}

/*iphone 6+, 6s+, 7+, 8+ - 414x736*/ 
@media only screen and (min-width: 668px) and (orientation: landscape) {
    
}

/*1440Xheight*/
@media only screen and (min-width: 1400px) and (orientation: landscape) {
    
}

/*1920X1080*/
@media only screen and (min-width: 1900px) and (orientation: landscape) {
    
}

